.question-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;

  .choices-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    li {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}