.quiz-choice-button {
  $background-color: rgba(0, 0, 0, 0.75);
  $highlight-color: rgba(255, 255, 255, 0.75);
  $highlight-border-color: rgba(0, 0, 0, 0.75);

  height: 100%;
  width: 100%;
  background-color: $background-color;
  color: inherit;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  pointer-events: auto;
  transition: background-color 0.2s ease-out;

  h3 {
    color: #eee;
    text-align: center;
    font-size: 2vw;

    @media (min-width: 1280px) {
      font-size: 1.5em;
    }
  }

  &:hover {
    background-color: $highlight-color;
    box-shadow: 0 0 0 2px $highlight-border-color inset;
    transition: background-color 0.2s ease-out;

    h3 {
      color: #222;
      text-shadow: 1px 1px 1px #444;
    }
  }
}
